html, body{
    margin: 0px;
    padding: 0px;
}

#header{
    position: absolute;
    width: 1520px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #6c6568 0%, #5d2c43 100%);

}
.header__navbar{
    display: flex;
    justify-content: space-between;
    
}
.header__navbar__icon{
    position: relative;
    mix-blend-mode: color-dodge;
    left: 30px;
    top: -7px;
}
.header__navbar__content{
    display: flex;
    list-style: none;
}
.header__navbar__content__list a{
    position: relative;
    text-decoration: none;
    list-style: none;;
    line-height: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    color: #FFFFFF;
    padding: 0px 20px 0px 20px;
} 
.header__navbar__content__list a:hover{
    cursor: pointer;
    color:#8b2158;
}